body{background-color:white;
    margin:0; /*missing margin:0;*/
    font-family: 'Times New Roman', Times, serif
  }
  header{background-color: #275218;
         color: #fff}
  header>img{max-width:6rem;
              margin:1rem;
  }
  h1{display:inline-block;
              margin:1rem 0;
              vertical-align: text-bottom;
  }
  header>nav>a{background-color: #fff;
              color: #275218;
              text-decoration:none;
              padding: 1rem;
              display: inline-block;
  }
  header>nav{ padding: 0rem 0rem 1rem 1rem;}
  header>nav>a:hover{background-color:#275218;
                      color:#fff;
                      border:1px solid #fff;
  }
  main{background-color:#ebebeb;
      padding:1rem;
      max-width:60rem;
      margin:1rem auto;
  }
  h2{background-color:#275218;
      color:#fff;
      padding:1rem;
      margin: 0 0 1rem
  }
  h3{color:#275218
  }
  article{background-color: #fff;
          padding: 1rem;
          margin: 1rem 0;
  }
  article>img{max-width: 100%;
              width: 30rem;
              float: left;
              margin: 0 1rem 1rem 0;
  }
  p{color:black
  }
  body>footer{background-color: #275218;
              color: #fff;
              padding:1rem;
              text-align:center;}
  body>footer>a{color: #fff;
                margin:1rem;}
  article>.image-only{float:none; margin:0; width:100%}