body{background-color: #1c2541;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
img{max-width: 100%;
}
.social img{height: 2rem;
            margin: .25rem;
}
.hamburger{width: 40px;
            padding: .5rem;
}
.hamburger hr{margin: .75rem 0;
            border: 2px solid white;
}
header nav{background-color: #0b132b;
        position: fixed;
        width: 100%;
        top: 0;
}
header nav a{display: block;
            color: #00e3c8;
            text-align: center;
            text-decoration: none;
            padding: 3rem;
            border: 1px solid #5bc0b4;
}
